/* Buton stilleri */
button {
    background-color: #03a87c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

button:hover {
    background-color: #02735a;
}

/* Form stilleri */
form {
    margin-bottom: 20px;
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid #03a87c;
}

/* Container stilleri */
#authContainer {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #03a87c;
}

/* Kullanıcı profil stilleri */
#userProfile {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

#profileDetails {
    margin-bottom: 20px;
}

#userPosts {
    margin-top: 20px;
}

.postContainer {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.postContainer h3 {
    margin-top: 0;
}

#updateProfileForm {
    margin-top: 20px;
}
