button {
    background-color: #03a87c;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-size: 14px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #02735a;
    transform: translateY(-2px);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

form {
    margin-bottom: 20px;
    text-align: left;
    opacity: 0;
    transition: opacity 1s ease;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 30%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease, transform 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid #03a87c;
    transform: scale(1.03);
}

#authContainer, #userProfile {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 1s ease;
    animation: fadeIn 1s forwards;
}

h1 {
    text-align: center;
    color: #03a87c;
}

#userProfile {
    max-width: 800px;
}

#profileDetails, #userPosts {
    margin-bottom: 20px;
}

.postContainer {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.postContainer:hover {
    transform: translateY(-2px);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.postContainer h3 {
    margin-top: 0;
}

#updateProfileForm {
    margin-top: 20px;
}

#categorySelect {
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    width: 63%;
}


#categorySelect option {
    padding: 8px 12px;
    font-size: 16px;
    background-color: #fff;
    color: #333;
}

#categorySelect:hover {
    border-color: #999;
}

#categorySelect:active,
#categorySelect:focus {
    outline: none;
    border-color: #333;
    box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.2);
}

#categorySelect:focus {
    border-color: #333;
    background-color: #f8f8f8;
}

#categorySelect::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}
